html{
  scroll-behavior: smooth;
}

/* ===== Default Styling ===== */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background:#0f172a;
  color:white;
}

/* ===== Navbar ===== */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
}

.logo{
  font-size:28px;
  font-weight:700;
}

.menu{
  display:flex;
  gap:30px;
  list-style:none;
  font-size:18px;
  cursor:pointer;
}

.menu li:hover{
  color:#38bdf8;
  transition:0.3s;
}
.menu li a{
  color:white;
  text-decoration:none;
}

.menu li a:hover{
  color:#38bdf8;
}




/* ===== Hero Section ===== */
.hero{
  height:90vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding-left:60px;
}

.hero h1{
  font-size:48px;
}

.hero span{
  color:#38bdf8;
}

.hero h2{
  margin:10px 0;
  font-weight:400;
  color:#38bdf8;
}


.hero button{
  margin-top:20px;
  padding:10px 24px;
  border:none;
  background:#38bdf8;
  color:black;
  font-weight:600;
  border-radius:6px;
  cursor:pointer;
}

.hero button:hover{
  background:white;
  transition:0.3s;
}

/* ===== About Section ===== */
.about{
  padding:60px;
}

.about h2{
  font-size:32px;
  margin-bottom:20px;
  color:#38bdf8;
}

.about p{
  width:70%;
  line-height:1.7;
  margin-bottom:10px;
  color:#d1d5db;
}

/* ===== Skills Section ===== */
.skills{
  padding:60px;
}

.skills h2{
  font-size:32px;
  margin-bottom:25px;
  color:#38bdf8;
}

.skills-box{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
}

.skill{
  border:1px solid #38bdf8;
  padding:10px 20px;
  border-radius:6px;
}

/* ===== Projects Section ===== */
.projects{
  padding:60px;
}

.projects h2{
  font-size:32px;
  margin-bottom:25px;
  color:#38bdf8;
}

.project-box{
  display:flex;
  gap:25px;
  flex-wrap:wrap;
}

.project-card{
  width:300px;
  background:#020617;
  padding:20px;
  border-radius:10px;
  border:1px solid #1f2937;
}

.project-card h3{
  margin-bottom:10px;
  color:#38bdf8;
}

.project-card p{
  color:#d1d5db;
}

.project-card button{
  margin-top:10px;
  padding:8px 14px;
  border:none;
  background:#38bdf8;
  color:black;
  font-weight:600;
  border-radius:6px;
  cursor:pointer;
}

/* ===== Contact Section ===== */
.contact{
  padding:60px;
}

.contact h2{
  font-size:32px;
  margin-bottom:20px;
  color:#38bdf8;
}

.contact p{
  margin-bottom:8px;
  color:#d1d5db;
}

/* ===== Responsive Design ===== */
@media (max-width:900px){

  .navbar{
    padding:20px;
  }

  .menu{
    gap:15px;
    font-size:14px;
  }

  .hero{
    padding-left:20px;
  }

  .about, .skills, .projects, .contact{
    padding:30px;
  }

  .about p{
    width:100%;
  }

  .project-box{
    justify-content:center;
  }

}

section{
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn{
  from{
    opacity:0;
    transform: translateY(20px);
  }
  to{
    opacity:1;
    transform: translateY(0);
  }
}

footer{
  text-align:center;
  padding:20px;
  background:#020617;
  color:#9ca3af;
  margin-top:30px;
}



